APP_NAME=StudyOS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=pt_PT
APP_FALLBACK_LOCALE=pt_PT
APP_TIMEZONE=Europe/Lisbon
LOG_CHANNEL=stderr
LOG_LEVEL=debug
DB_CONNECTION=pgsql
DATABASE_URL=
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=database
